<div id="header">
<h1 align="center">Rookie Web</h1>
#foreach($cookie in $request.getCookies())
    #if ($cookie.getName() eq "username")
        #set($username = $cookie.getValue())
    #end
#end
#if (!$username)
    <p id="userMsg">请登录</p>
#else
    <p id="userMsg">$username ，欢迎您。<a href="" id="logoutMsg">退出登录</a></p>
#end
</div>
<style>
    #userMsg{
        text-align: right;
    }
    #header{
        width: 80%;
    }
</style>
<script src="/js/jquery-3.2.1.js"></script>
<script>
    $("#logoutMsg").click(function (e) {
        e.preventDefault();
        $.ajax({
            type: "GET",
            url: "/logout",
            success: function(data){
                window.location.reload(true);
            }
        });
    });
</script>