<form action="login" method="post">
    name:<input name="username"><br>
    password:<input name="password" type="password"><br>
    #set($targetUrl= $request.getParameter('targetUrl'))
    <input type="hidden" name="targetUrl" value="$!{targetUrl}">
    <input type="submit" value="submit">
</form>
