<head>
    <script src="/js/jquery-3.2.1.js"></script>
    <script>
        $(document).ready(function() {
            $("button").click(function () {
                window.location.replace("/index");
            });
        });
    </script>
</head>
<body>
<form action="" method="post">
    name:<input name="username"><br>
    password:<input name="pwd" type="password"><br>
    <input type="submit" value="注册用户" onclick="form.action='/userManager/add';form.submit()">
    <input type="submit" value="删除用户" onclick="form.action='/userManager/delete';form.submit()">
    <input type="submit" value="查询用户" onclick="form.action='/userManager/find';form.submit()">
</form>
<p>$!{resultString}</p>
<button>返回主页</button>
</body>